{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block stuff %}
	<li class="nav-item active">
     <a class="nav-link" href="/">Home</a>
    </li>
	<li class="nav-item">
     <a class="nav-link" href="/p1">Highest Fertility Rate per year</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="/p2">Net Change of Population</a>
    </li>
	<li class="nav-item">
     <a class="nav-link" href="/p3">Graph of Rural population</a>
    </li>
{% endblock %}

{% block content %}
    <!--page content-->
	<h1>About the Data</h1>
<p>The data used in this web app is from the CORGIS Dataset Project and can be found <a href="https://think.cs.vt.edu/corgis/json/global_development/">here</a>. The following data contains records collected on different countries and geographic locations from 1980 - 2013 from the World Bank. Included is different data about urban development, agriculture and rural development, health, and infrastructure.</p>
<br>
<p>Birth rate is one of the statisitics measured for each country every year. BIRTH RATE is the number of resident live births for a specified geographic area (nation, state, county, etc.) during a specified period (usually a calendar year) divided by the total population (usually mid-year) for that area and multiplied by 1,000.(<a href="https://think.cs.vt.edu/corgis/json/global_development/">Source</a>). The death rate is also one of the tracked statistics. Death rate is a measure of the number of deaths (in general, or due to a specific cause) in a particular population, scaled to the size of that population, per unit of time. Mortality rate is typically expressed in units of deaths per 1,000 individuals per year; thus, a mortality rate of 9.5 (out of 1,000) in a population of 1,000 would mean 9.5 deaths per year in that entire population, or 0.95% out of the total.(<a href="https://en.wikipedia.org/wiki/Mortality_rate">Source</a>)</p>
<br>
<p>All countries are listed multiple times throughout the json file, this is because each listing of a country contains an entirely different set of data pertaining to the year that it is listed in.<p>
{% endblock %}
